# Configurações Gerais do Django
SECRET_KEY=sua_chave_secreta_aqui_gerada_pelo_django
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, localhost

# Configurações de Banco de Dados PostgreSQL 14
DB_ENGINE=django.db.backends.postgresql
DB_NAME=NovaMecDB
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Se for utilizar SQLite localmente, altere para:
# DB_ENGINE=django.db.backends.sqlite3
# DB_NAME=NovaMecDB.sqlite3
